@font-face {
  src: url(../fonts/eot/FiraSans-Light.eot);
  src: local("Fira Sans Light"), url(../fonts/eot/FiraSans-Light.eot) format("embedded-opentype"), url(../fonts/woff/FiraSans-Light.woff) format("woff"), url(../fonts/ttf/FiraSans-Light.ttf) format("truetype");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
}
@font-face {
  src: url(../fonts/eot/FiraSans-Regular.eot);
  src: local("Fira Sans Regular"), url(../fonts/eot/FiraSans-Regular.eot) format("embedded-opentype"), url(../fonts/woff/FiraSans-Regular.woff) format("woff"), url(../fonts/ttf/FiraSans-Regular.ttf) format("truetype");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/eot/FiraSans-Medium.eot);
  src: local("Fira Sans Medium"), url(../fonts/eot/FiraSans-Medium.eot) format("embedded-opentype"), url(../fonts/woff/FiraSans-Medium.woff) format("woff"), url(../fonts/ttf/FiraSans-Medium.ttf) format("truetype");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(../fonts/eot/FiraSans-SemiBold.eot);
  src: local("Fira Sans SemiBold"), url(../fonts/eot/FiraSans-SemiBold.eot) format("embedded-opentype"), url(../fonts/woff/FiraSans-SemiBold.woff) format("woff"), url(../fonts/ttf/FiraSans-SemiBold.ttf) format("truetype");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url(../fonts/eot/FiraSans-Bold.eot);
  src: local("Fira Sans Bold"), url(../fonts/eot/FiraSans-Bold.eot) format("embedded-opentype"), url(../fonts/woff/FiraSans-Bold.woff) format("woff"), url(../fonts/ttf/FiraSans-Bold.ttf) format("truetype");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
}

/*
colors:
darkblue:;  #1f366c
cobalt: #292c38
salmon: #e14164;
 */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #fff;
  overflow-x: hidden;
}

body {
  font: 1rem/1.5 "Fira Sans", sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 0.1s ease-in;
}

a:hover {
  color: #fff;
}

.c:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}


/* class styles */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  max-width: 50%;
}

.flex-item--top {
  align-self: flex-start;
}

.flex-item--bottom {
  align-self: flex-end;
}

.display-none {
  display: none;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* content styles */
.section {
  max-width: 80rem;
  width: 100%;
  margin: 1rem auto;
  position: relative;
  padding: 1rem;
}

.section h1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}


/*
Top intro section
*/
#header {
  color: #fff;
  position: relative;
}

#hero { /* background webgl scene */
  border: 0;
  background: #333;
}

#pull {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

#pull:after {
  content: ' ';
  width: 50px;
  height: 50px;
  left: -25px;
  bottom: 0px;
  background: #e14164;
  position: absolute;
}

.novr #vrnotfound,
.novr #start {
  display: block;
}

.vr #vrfound {
  display: block;
}

/*
Getting started
 */


/*
sowcase
 */

.showcase--item {
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.showcase--item:hover {
  background: #efefef;
}

.showcase--title {
  font-weight:400;
  margin-top: 1rem;
}

.showcase--image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 13rem;
}
.showcase--author {
  font-weight: 400;
  color: #888888;
}

.showcase--link {
  position: absolute;
  right: 1rem;
  bottom: 2.5rem;
}

.flex--variable {
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.flex--variable > .showcase--item {
  margin: 0.5rem;
  display: block;
  -webkit-flex-basis: calc(33% - 0.5rem);
  flex-basis: calc(33% - 0.5rem);
  border: 1px solid #efefef;
}

.flex--variable > .showcase--item:nth-child(3n+1) {
  margin-left: 0;
}
.flex--variable > .showcase--item:nth-child(3n+3) {
  margin-right: 0;
}


/*
footer
 */

footer {
  width: 100%;
  background: #1f366c;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
}

#social {
  float: right;
}

.social--icons {
  margin: 0 1rem 1rem 0;
}
.social--icons:last-child {
  margin-right: 0;
}

.legal--link {
  margin-right: 1rem;
}

.legal--disclaimer {
  color: #0c99d5;
  font-size: 0.8rem;
}


/*
media queries
 */

@media (min-width: 500px) and (max-width: 1024px) {
  .flex--variable > .showcase--item {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #efefef;
    padding: 1rem 0;
    -webkit-flex-basis: calc(50%);
    flex-basis: calc(50%);
  }

  .showcase--item:nth-child(2n+1) {
    padding-right: 0.5rem;
  }
  .showcase--item:nth-child(2n+2) {
    padding-left: 0.5rem;
  }
}

@media (max-width: 500px) {
  .flex--variable > .showcase--item {
    margin: 0;
    border: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #efefef;
    -webkit-flex-basis: calc(100%);
    flex-basis: calc(100%);
  }

  .showcase--item:last-child {
    border: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {

}

