/*
colors:
darkblue: #1f366c
lightblue: #86d6f8
cobalt: #292c38
salmon: #e14164
*/

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Hair.eot');
  src: local('Fira Sans Hair'), url('../fonts/fira/eot/FiraSans-Hair.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Hair.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Hair.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Hair.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-HairItalic.eot');
  src: local('Fira Sans Hair Italic'), url('../fonts/fira/eot/FiraSans-HairItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-HairItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-HairItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-HairItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-UltraLight.eot');
  src: local('Fira Sans UltraLight'), url('../fonts/fira/eot/FiraSans-UltraLight.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-UltraLight.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-UltraLight.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-UltraLightItalic.eot');
  src: local('Fira Sans UltraLight Italic'), url('../fonts/fira/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-UltraLightItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-UltraLightItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Light.eot');
  src: local('Fira Sans Light'), url('../fonts/fira/eot/FiraSans-Light.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Light.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Light.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'), url('../fonts/fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-LightItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-LightItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'), url('../fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Regular.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Italic.eot');
  src: local('Fira Sans Regular Italic'), url('../fonts/fira/eot/FiraSans-Italic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Italic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Italic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'), url('../fonts/fira/eot/FiraSans-Medium.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Medium.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Medium.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'), url('../fonts/fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-MediumItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-MediumItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'), url('../fonts/fira/eot/FiraSans-SemiBold.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-SemiBold.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-SemiBold.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-SemiBoldItalic.eot');
  src: local('Fira Sans SemiBold Italic'), url('../fonts/fira/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-SemiBoldItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-SemiBoldItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), url('../fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Bold.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Bold.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'), url('../fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-ExtraBold.eot');
  src: local('Fira Sans ExtraBold'), url('../fonts/fira/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-ExtraBold.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-ExtraBold.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot');
  src: local('Fira Sans ExtraBold Italic'), url('../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-Heavy.eot');
  src: local('Fira Sans Heavy'), url('../fonts/fira/eot/FiraSans-Heavy.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-Heavy.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-Heavy.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/fira/eot/FiraSans-HeavyItalic.eot');
  src: local('Fira Sans Heavy Italic'), url('../fonts/fira/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraSans-HeavyItalic.woff2') format('woff2'), url('../fonts/fira/woff/FiraSans-HeavyItalic.woff') format('woff'), url('../fonts/fira/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('../fonts/fira/eot/FiraMono-Regular.eot');
  src: local('Fira Mono'), url('../fonts/fira/eot/FiraMono-Regular.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraMono-Regular.woff2') format('woff2'), url('../fonts/fira/woff/FiraMono-Regular.woff') format('woff'), url('../fonts/fira/ttf/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('../fonts/fira/eot/FiraMono-Bold.eot');
  src: local('Fira Mono Bold'), url('../fonts/fira/eot/FiraMono-Bold.eot') format('embedded-opentype'), url('../fonts/fira/woff2/FiraMono-Bold.woff2') format('woff2'), url('../fonts/fira/woff/FiraMono-Bold.woff') format('woff'), url('../fonts/fira/ttf/FiraMono-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #fff;
  width: 100%;
}

html {
  font-size: 15px;
}

body {
  font: 300 1rem/1.2 "Fira Sans", sans-serif;
  line-height: 1.5rem;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #0c99d5;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

a:hover:not(.no-decoration) {
  text-decoration: underline;
}

ul, ol {
  margin: 0 0 1.5rem;
}

ul {
  list-style: none;
}

li {
  margin: 0 0 0.5rem;
  list-style-position: inside
}

.bullets {
  list-style: disc;
  list-style-position: inside;
}

.wrap > p:last-child,
.wrap > ul:last-child,
.wrap > ol:last-child {
  margin-bottom: 0;
}

.c:before,
.c:after {
  content: "";
  display: table;
}

.c:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden-text {
  display: block;
  text-indent: -9999px;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 85%;
  border-radius: 3px;
  padding: 0.2em;
}

/* flex styles */
.flex {
  display: flex;
}

.flex--vertical {
  display: flex;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex--center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex--item--half {
  max-width: 50%;
}

.flex--grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex--grid--stretch {
  margin-left: -1rem;
  margin-right: -1rem;
}

.display-none {
  display: none;
}

.fill {
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.width-75 {
  width: 75%;
  margin: 2rem auto;
}

.full-width {
  height: 100%;
  width: 100%;
}

.copy--center {
  text-align: center;
}

.copy--uppercase {
  text-transform: uppercase;
}

.copy--bright {
  color: #fff;
}

.copy--big {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.copy--subtitle {
  font-size: 1.2rem;
}

.copy--bright .copy--subtitle {
  color: #A3BAD5;
}

.section {
  padding: 1.5rem 0;
}

/**
 * We place the anchors slightly above where the actual <section> starts because
 * we have to account for the height of the main nav that is obscuring the top
 * of the section. (See https://github.com/MozVR/mozvr.com/issues/17)
 */
.section__anchor {
  position: relative;
  top: -3.9rem;  /* See issue #24 for making the header nav of a fixed height. */
  visibility: hidden;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
}

.wrap--narrow {
  max-width: 780px;
}

.section h1 {
  text-align: center;
  color: #1f366c;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/*
Navigation
*/
.isMobile nav {
  display: none;
}

nav ul, nav li {
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(245, 245, 245, 0.9);
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 1px 0 0 rgba(0,0,0,.15);
}

.nav__top {
  display: block;
  float: left;
  font-size: 1rem;
  font-style: italic;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-decoration: none;
  background: #ffcd02;
  padding: 0.5rem 1rem;
  color: #333;
  border-right: 1px solid #D0D0D0;
}

.nav__top:hover {
  color: #333;
}

.nav__item {
  display: inline-block;
}

.nav__item a {
  color: #333;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav__item:hover {
  background: #DCDCDC;
}

.nav-social {
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav-social--item {
  padding: 0.5rem;
}


/*
Top intro section
*/
.header {
  position: relative;
}

.hero {
  border: 0;
  background: #333;
  color: #efefef;
  background-image: url('../img/sechelt-masthead.png');
  background-size: cover;
  height: calc(200px + 40vw);
  position: relative;
}

.hero--iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.isMobile .hero--iframe {
  display: none;
}

.hero--headline {
  z-index: 1;
}

.wordmark {
  width: 15rem;
  color: #333;
  background: #ffcd02;
  box-shadow: -3px 3px 0 0 rgba(0,0,0,.15);
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
  letter-spacing: .015em;
  margin: auto;
  padding: 1.5rem;
}

.headline {
  font-size: 1.2rem;
  color: #fff;
  max-width: 35rem;
  margin: 3rem;
  padding: 0.5rem 1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


/*
Getting Started
*/
.vr .section--start {
  order: 2;
}

.menu {
  text-align: center;
}

.menu__item {
  display: inline-block;
  margin: 0;
  background: #efefef;
}

.menu__item.active {
  background: #0c99d5;
}

.menu__item a {
  color: #333;
  display: inline-block;
  padding: 0.5rem 1.2rem;
}

.menu__item:not(.active) a:hover {
  background: #dfdfdf;
}

.menu__item.active a {
  color: #fff;
  pointer-events: none;
  transition: none;
}

.menu__copy {
  margin: 1.5rem auto;
}

/*
Showcase
*/
.isMobile .desktop {
  display: none;
}

.section--showcase {
  order: 1;
  background: #292c38;
}

.section--showcase h1 {
  display: none;
}

.novr .section--showcase h1 {
  display: block;
  color: #fff;
}

.novr .vrEnabled {
  display: none;
}

.vr .section--showcase .vrEnabled {
  display: block;
}

.flex--grid--item {
  flex: 0 1 33.3333%;
}

.showcase__link {
  color: #369;
  display: block;
  position: relative;
  margin: 0.25rem;
  width: 100%;
}

.showcase__link:hover {
  color: #036;
  background: #ffcd02;
}

.showcase__link:hover .showcase__title {
  color: #333;
}

.showcase__link:hover .showcase__author {
  color: #686868;
}

.showcase__link:active {
  background: #eee;
  opacity: 0.7;
}

.showcase__title {
  color: #fff;
  font-weight: 400;
  margin: 0.5rem 0 0 0.5rem;
}

.showcase__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 13rem;
  width: 100%;
}

.lacks-touch .showcase__image {
  opacity: 0.85;
}

.lacks-touch .showcase__image:hover {
  opacity: 1;
}

.showcase__author {
  color: #A3BAD5;
  margin: 0 0 0.6rem 0.5rem;
}


/*
developers
*/

.section--developers {
  background: #efefef;
}

.section--developers h2 {
  color: #1f366c;
}

.developers__list {
  margin-top: 1rem;
}

.developers__item {
  padding: 0.75rem;
}

/*
team
*/

.section--team {
  border-top: 1px solid #efefef;
}

.section--team h2 {
  margin: 0 0 0.5rem;
}

.person {
  padding: 1.5rem;
  position: relative;
}

.person__title,
.person__social {
  color: #828282;
}

.person[data-person]:before {
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: block;
  margin: 0 auto 1rem;
  height: 10vw;
  width: 10vw;
  min-width: 90px;
  min-height: 90px;
  max-height: 110px;
  max-width: 110px;
}

.person[data-person="vlad"]:before {
  background-image: url(../img/team/vlad.jpg);
}
.person[data-person="casey"]:before {
  background-image: url(../img/team/casey.png);
}
.person[data-person="cvan"]:before {
  background-image: url(../img/team/cvan.jpg);
}
.person[data-person="diego"]:before {
  background-image: url(../img/team/diego.jpg);
}
.person[data-person="kip"]:before {
  background-image: url(../img/team/kip.jpg);
}
.person[data-person="kevin"]:before {
  background-image: url(../img/team/kevin.jpg);
}

/* A little hack for larger click targets. */
.person__social__link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.person__social__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.person__social__link:hover .person__social__name {
  text-decoration: underline;
}


/*
footer
*/
.section--footer {
  background: #1f366c;
  color: #0c99d5;
}

.footer__icons {
  margin: 0 auto 1.5rem;
  max-width: 100px;
}

.footer__icons p {
  margin-bottom: 1.5rem;
}

.footer__license {
  max-width: 40rem;
  margin: auto;
}

.icon--social {
  height: 17px;
}

.link--borderless {
  border: 0;
}

a.link--footer {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
  padding-bottom: 1px;
  line-height: 1.8;
  white-space: nowrap;
}

.link--footer:hover {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

a.link--legal {
  color: #ccc;
}

.link--legal:hover {
  color: #eee;
}

a.link--license {
  color: #0c99d5;
}

a.link--license:hover {
  color: #86d6f8;
}

.link--blog {
  display: none;
}

/*
media queries
*/

@media (max-width: 899px) {
  nav {
    display: none;
  }
  .flex--grid--item {
    flex-basis: 50%;
  }
  .link--blog {
    background: #e14164;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0 auto 1.5rem;
    padding: 0.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (max-width: 599px) {
  nav {
    display: none;
  }
  .showcase__link {
    margin: 0;
  }
  .flex--grid--item {
    flex-basis: 100%;
  }
  .wrap .wrap {
    padding: 1rem 0;
  }
  .wrap--narrow.copy--center {
    text-align: left;
  }
}
